body {
  width: 300px;
  margin: auto;
}

table {
  width: 300px;
  margin: auto;
}

th {
  border: 1px solid black;
}

.items {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add {
  margin-top: 5px;
}
